<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">발전을 즐기는 개발자</h2>
                <hr class="light">
                <p class="text-faded">PHONE: 010-6876-5125</p>
                <p class="text-faded">EMAIL: seg615@naver.com</p>
                <p class="text-faded">Blog: https://jiwontip.tistory.com/</p>
                <p class="text-faded">BITBUCKET: https://bitbucket.org/jiwonjung/</p>
                <p class="text-faded">GITHUB: https://github.com/jiwon615/</p>
                
                <!-- <a href="#" class="btn btn-default btn-xl">Get Started!</a> -->
            </div>
        </div>
    </div>
</section>
