<section id="portfolio" style="padding-top: 108px;">
    <div class="container-fluid">
        <div class="row no-gutter">

            <div class="col-lg-12 text-center">
                <h2 class="section-heading"><b>프로젝트</b></h2>
                <hr class="primary">
                <a href="http://15.164.246.27:8080"
                    style="color:#215198; font-size: 20px;"><b>http://15.164.246.27:8080</b></a>
                <br>
                <h4><b>일반 ID: test1</b></h4>
                <h4><b>일반 PW: 1234</b></h4> <br>
                <h4><b>관리자 ID: admin</b></h4>
                <h4><b>관리자 PW: 1234</b></h4>
            </div>
            <div style="clear:both;"> <br><br>
            </div>

            <div class="container-fluid">
                <!-- 하나로 꽉 채우기 -->
                <div class="col-lg-12 col-sm-6">
                    <a href="http://15.164.246.27:8080" class="portfolio-box" style="max-width: 60%;">
                        <img src="img/portfolio1/1.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    First Project
                                </div>
                                <div class="project-name">
                                    I LOVE PET COMMUNITY WEBSITE
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

            </div> <br><br><br><br><br><br><br><br>
            <!--col-lg-12 col-sm-6-->

            <div class="container-fluid">
                <div class="col-lg-12 col-sm-6">
                    <a href="http://15.164.246.27:8080" class="portfolio-box" style="max-width: 60%;">
                        <img src="img/portfolio1/2.png" class="img-responsive" alt="">

                    </a>
                </div>
            </div>
            <!--col-lg-12 col-sm-6--><br><br><br><br><br><br><br><br>

            <div class="container-fluid">
                <div class="col-lg-12 col-sm-6">
                    <a href="http://15.164.246.27:8080" class="portfolio-box" style="max-width: 60%;">
                        <img src="img/portfolio1/3.png" class="img-responsive" alt="">

                    </a>
                </div><br><br><br>

            </div>
            <!--container-fluid-->

            <div class="container-fluid">
                <div class="col-lg-12 col-sm-6">
                    <a href="http://15.164.246.27:8080" class="portfolio-box" style="max-width: 60%;">
                        <img src="img/portfolio1/4.png" class="img-responsive" alt="">

                    </a>
                </div><br><br><br>

            </div>
            <!--container-fluid-->

            <div class="container-fluid">
                <div class="col-lg-12 col-sm-6">
                    <a href="http://15.164.246.27:8080" class="portfolio-box" style="max-width: 60%;">
                        <img src="img/portfolio1/5.png" class="img-responsive" alt="">

                    </a>
                </div><br><br><br>

            </div>
            <!--container-fluid-->

            <div class="container-fluid">
                <div class="col-lg-12 col-sm-6">
                    <a href="http://15.164.246.27:8080" class="portfolio-box" style="max-width: 60%;">
                        <img src="img/portfolio1/6.png" class="img-responsive" alt="">

                    </a>
                </div><br><br><br>

            </div>
            <!--container-fluid-->

            <div class="container-fluid">
                <div class="col-lg-12 col-sm-6">
                    <a href="http://15.164.246.27:8080" class="portfolio-box" style="max-width: 60%;">
                        <img src="img/portfolio1/7.png" class="img-responsive" alt="">

                    </a>
                </div><br><br><br>

            </div>
            <!--container-fluid-->

            <div class="container-fluid">
                <div class="col-lg-12 col-sm-6">
                    <a href="http://15.164.246.27:8080" class="portfolio-box" style="max-width: 60%;">
                        <img src="img/portfolio1/8.png" class="img-responsive" alt="">

                    </a>
                </div><br><br><br>

            </div>
            <!--container-fluid-->

            <div class="container-fluid">
                <div class="col-lg-12 col-sm-6">
                    <a href="http://15.164.246.27:8080" class="portfolio-box" style="max-width: 60%;">
                        <img src="img/portfolio1/9.png" class="img-responsive" alt="">

                    </a>
                </div><br><br><br>

            </div>
            <!--container-fluid-->

            <div class="container-fluid">
                <div class="col-lg-12 col-sm-6">
                    <a href="http://15.164.246.27:8080" class="portfolio-box" style="max-width: 60%;">
                        <img src="img/portfolio1/10.png" class="img-responsive" alt="">

                    </a>
                </div><br><br><br>

            </div>
            <!--container-fluid-->

            <div class="container-fluid">
                <div class="col-lg-12 col-sm-6">
                    <a href="http://15.164.246.27:8080" class="portfolio-box" style="max-width: 60%;">
                        <img src="img/portfolio1/11.png" class="img-responsive" alt="">

                    </a>
                </div><br><br><br>

            </div>
            <!--container-fluid-->

            <div class="container-fluid">
                <div class="col-lg-12 col-sm-6">
                    <a href="http://15.164.246.27:8080" class="portfolio-box" style="max-width: 60%;">
                        <img src="img/portfolio1/12.png" class="img-responsive" alt="">

                    </a>
                </div><br><br><br>

            </div>
            <!--container-fluid-->


        </div>
    </div>
</section>