
<section id="portfolio" style="padding-top: 108px;" >
    <div class="container-fluid">
        <div class="row no-gutter">

            <div class="col-lg-12 text-center">
                <h2 class="section-heading"><b>프로젝트</b></h2>
                <hr class="primary">
                <a href="http://15.164.246.27:8080" style="color:#215198; font-size: 20px;"><b>http://15.164.246.27:8080</b></a>
            </div><div style="clear:both;"> <br><br>
            </div>

            <div class="container-fluid">
  
 
  <div class="row">
    <div class="col-sm-4" style="background-color:lavender;"><br><br><h2 style="margin-left:20px;"><b>01. 회원가입 페이지</b><br><br></h2>
    
    <h4 style="margin-left:20px;">-DB를 조회하여 아이디 중복검사 </h4>
        <h4 style="margin-left:20px;">-나머지 입력란은 모두 클라이언트단에서 JS 정규식을 이용한 유효성 검사 </h4>
  <h4 style="margin-left:20px;">       
      -주소입력은 Daum 우편번호 API 활용 </h4>
         <h4 style="margin-left:20px;">
             -BCrypt 해싱함수를 이용한 비밀번호 암호화 처리 </h4>
         <h4 style="margin-left:20px;">
-회원가입 처리가 완료되면, 최종적으로 성공메시지와 함께 로그인페이지로 redirect   </h4>

</div>
    <div class="col-sm-8" style="background-color:lavenderblush;">
        <a href="http://15.164.246.27:8080" class="portfolio-box" style="max-width: 860px; margin-right: 0;">
                    <img src="img/portfolio1/1.png" class="img-responsive" alt="">
      
    </a></div>

</div>

<br><br><br><br>
<div class="row">
    <div class="col-sm-4" style="background-color:lavender;"><br><h2 style="margin-left:20px;"><b>01. 회원가입 페이지</b><br><br></h2>
    
    <h4 style="margin-left:20px;">-DB를 조회하여 아이디 중복검사 </h4>
        <h4 style="margin-left:20px;">-나머지 입력란은 모두 클라이언트단에서 JS 정규식을 이용한 유효성 검사 </h4>
  <h4 style="margin-left:20px;">       
      -주소입력은 Daum 우편번호 API 활용 </h4>
         <h4 style="margin-left:20px;">
             -BCrypt 해싱함수를 이용한 비밀번호 암호화 처리 </h4>
         <h4 style="margin-left:20px;">
-회원가입 처리가 완료되면, 최종적으로 성공메시지와 함께 로그인페이지로 redirect   </h4>

</div>
    <div class="col-sm-8" style="background-color:lavenderblush;">
        <a href="http://15.164.246.27:8080" class="portfolio-box" style="max-width: 860px; margin-right: 0;">
                    <img src="img/portfolio1/1.png" class="img-responsive" alt="">
      
    </a></div>

</div><a href="http://15.164.246.27:8080" class="portfolio-box">
</a></div>
 </div></div>
</section>
