<script src='https://kit.fontawesome.com/a076d05399.js'></script>
<style>
    .text-muted{
        text-align: left;
    }
</style>
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading"><b>직무관련 기술 스택</b></h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Java</h3>
                    <p class="text-muted"><i class='fas fa-angle-right'></i> 객체지향 프로그래밍에 대한 이해를 바탕으로 라이브러리 작성 가능</p>
                    <p class="text-muted"><i class='fas fa-angle-right'></i> 자료구조 및 기본 알고리즘 설계 가능</p>
                    <p class="text-muted">- tool: eclipse</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Spring Framework</h3>
                    <p class="text-muted"><i class='fas fa-angle-right'></i> Spring 환경 설정</p>
                    <p class="text-muted"><i class='fas fa-angle-right'></i> 회원 및 게시판의 기본적인 CRUD, 페이징처리 및 검색기능 가능</p>
                    <p class="text-muted"><i class='fas fa-angle-right'></i> RESTful 방식의 API 개발</p>
                    <p class="text-muted">- tool: STS, EgovFramework</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>JSP/Servlet</h3>
                    <p class="text-muted"><i class='fas fa-angle-right'></i> 데이터베이스와의 연동을 통해 회원 및 게시판의 기본적인 CRUD로 화면 설계 가능</p>
                    <p class="text-muted">- tool: eclipse</p>
                    <p class="text-muted">- skills: EL, JSTL, JDBC</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Spring Boot JAP</h3>
                    <p class="text-muted">테스트내용!!</p>
                </div>
            </div>
        </div> 
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>HTML5/CSS3</h3>
                    <p class="text-muted"><i class='fas fa-angle-right'></i> 웹 표준에 맞춘 Html 작성 가능</p>
                    <p class="text-muted"><i class='fas fa-angle-right'></i> CSS 지식을 바탕으로 웹 화면 설계 및 구현 가능</p>
                    <p class="text-muted">- tool: Visual Studio Code, Sublime text</p>
                    <p class="text-muted">- skills: Bootstrap4</p>                
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>JavaScript/jQuery</h3>
                    <p class="text-muted"><i class='fas fa-angle-right'></i> JS의 기본 문법 사용가능</p>
                    <p class="text-muted"><i class='fas fa-angle-right'></i> jQuery 라이브러리로 선택자 선택 및 DOM 객체 다루기</p>
                    <p class="text-muted">- tool: eclipse, Visual Studio Code</p>
                    <p class="text-muted">- skills: AJAX, JSON</p>                    
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>MariaDB</h3>
                    <p class="text-muted"><i class='fas fa-angle-right'></i> DDL, DML, DCL 사용 가능</p>
                    <p class="text-muted"><i class='fas fa-angle-right'></i> 쇼핑몰/게시판 테이블 설계 및 SQL문 작성 가능</p>
                    <p class="text-muted">- tool: HeidiSQL</p>
                                  
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>AWS로 서버배포</h3>
                    <p class="text-muted"><i class='fas fa-angle-right'></i> AWS에 리눅스 기반 EC 인스턴스 및 IP 생성</p>
                    <p class="text-muted"><i class='fas fa-angle-right'></i> puTTy를 이용한 인스턴스 외부 접속</p>
                    <p class="text-muted"><i class='fas fa-angle-right'></i> FileZilla 설정 및 war파일로 배포</p>                 
                </div>
            </div>
        </div> 
    </div>
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
</section>
